.rotekarte{
    position: absolute;
    text-align: left;
    height: 500px;
    width: 700px;
    left: 600px;
    top: 300px;
}

.rotekarteinhalt{
    text-align: left;
    margin-left: auto;
    position: absolute;
    left: 670px;
    top: 510px;
    display: inline-block;
    color: ivory;
}

.rotekartetext{
    text-align: left;
    display: inline-block;
    position: absolute;
}

.zweig{
    position: absolute;
    left: 500px;
    top: 250px;
}

.feuer{
    position: absolute;
    left: 1020px;
    top: 400px;
    
}

.gifts{
    position: absolute;
    left: 1050px;
    top: 650px;
}

.stern1{
    position: absolute;
    left: 700px;
    top: 450px; 
}

.stern2{
    position: absolute;
    left: 800px;
    top: 400px;
}

.stern3{
    position: absolute;
    left: 950px;
    top: 450px;
}