body{
    background-color: #363338;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

#container{
    width: 500px;
    height: 600px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor: pointer;
    
}

#button1{
    width: 150px;
    height: 150px;
    border-radius: 5%;
    background-color: #D74654 ;
}


#button2{
    width: 150px;
    height: 150px;
    border-radius: 5%;
    background-color: #B24C63;
}

#button3{
    width: 150px;
    height: 150px;
    border-radius: 5%;
    background-color: #6264A7;
}

#button4{
    width: 150px;
    height: 150px;
    border-radius: 5%;
    background-color: #FF8A64;
}

#button5{
    width: 150px;
    height: 150px;
    border-radius: 5%;
    background-color: #236f72;
}

#button6{
    width: 150px;
    height: 150px;
    border-radius: 5%;
    background-color: #FFA248;
}

#button7{
    width: 150px;
    height: 150px;
    border-radius: 5%;
    background-color: #5438DC;
}

#button8{
    width: 150px;
    height: 150px;
    border-radius: 5%;
    background-color: #FF6E3E;
}

#button9{
    width: 150px;
    height: 150px;
    border-radius: 5%;
    background-color: #E74C06;
}

.elemente{
    position: relative;
    height: 80px;
    font-size: 65px;
    cursor: pointer;
    
    
}

.active{
    color: rgb(224, 19, 19);
}

.playbuttonhidden{
    visibility: hidden;
}